.hover-bg-navy:hover {
	background: #001f3f
}
.hover-bg-blue:hover {
	background: #0074d9
}
.hover-bg-aqua:hover {
	background: #7fdbff
}
.hover-bg-teal:hover {
	background: #39cccc
}
.hover-bg-olive:hover {
	background: #3d9970
}
.hover-bg-green:hover {
	background: #2ecc40
}
.hover-bg-lime:hover {
	background: #01ff70
}
.hover-bg-yellow:hover {
	background: #ffdc00
}
.hover-bg-orange:hover {
	background: #ff851b
}
.hover-bg-red:hover {
	background: #ff4136
}
.hover-bg-fuchsia:hover {
	background: #f012be
}
.hover-bg-purple:hover {
	background: #b10dc9
}
.hover-bg-maroon:hover {
	background: #85144b
}
.hover-bg-white:hover {
	background: #fff
}
.hover-bg-gray:hover {
	background: #aaa
}
.hover-bg-silver:hover {
	background: #ddd
}
.hover-bg-black:hover {
	background: #111
}


.hover-border-navy:hover {
	border-color: #001f3f
}
.hover-border-blue:hover {
	border-color: #0074d9
}
.hover-border-aqua:hover {
	border-color: #7fdbff
}
.hover-border-teal:hover {
	border-color: #39cccc
}
.hover-border-olive:hover {
	border-color: #3d9970
}
.hover-border-green:hover {
	border-color: #2ecc40
}
.hover-border-lime:hover {
	border-color: #01ff70
}
.hover-border-yellow:hover {
	border-color: #ffdc00
}
.hover-border-orange:hover {
	border-color: #ff851b
}
.hover-border-red:hover {
	border-color: #ff4136
}
.hover-border-fuchsia:hover {
	border-color: #f012be
}
.hover-border-purple:hover {
	border-color: #b10dc9
}
.hover-border-maroon:hover {
	border-color: #85144b
}
.hover-border-white:hover {
	border-color: #fff
}
.hover-border-gray:hover {
	border-color: #aaa
}
.hover-border-silver:hover {
	border-color: #ddd
}
.hover-border-black:hover {
	border-color: #111
}
